div.dataTables_wrapper div.dataTables_filter {
    text-align: left;
}
.form-control {
    height: 40px;
}
.widget-content {
    float: left;
    padding: 15px 10px 10px;
    width: 100%;
}
.taction {
    padding-right: 10px;
    display: table-cell;
}